<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- replace the head tag with the template from the layouts.html -->
<head th:replace="layouts :: header"></head>

<body>

	<!-- replace the navbar template from the layouts.html -->
	<nav th:replace="layouts :: navbar"></nav>

	<div>
		<h4>Current Projects</h4>
		<table>
			<th:head>
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</th:head>
			<th:body>
				<tr th:each="project : ${projects}">
					<td th:text="${project.name}" />
					<td th:text="${project.stage}"/>
				</tr>
			</th:body>
		</table>
	</div>
	
	<div>
	<h4>Current Employees</h4>
		<table>
			<th:head>
				<tr>
					<th>Employee Name</th>
					<th>Employee Stage</th>
				</tr>
			</th:head>
			<th:body>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}"/>
					<td th:text="${employee.email}"/>
				</tr>
			</th:body>
		</table>
	</div>
</body>
</html>