<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- replace the head tag with the template from the layouts.html -->
<head th:replace="layouts :: header"></head>

<body>

	<!-- replace the navbar template from the layouts.html -->
	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">
		<h3>Project Directory</h3>
		<hr>
		
		<!-- Add new employee Button -->
		<a th:href="@{/projects/new}" class="btn btn-primary btn-sm sb-3">
		New Project
		</a>
		<br></br>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Project Name</th>
					<th>Project Stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="project : ${projects}">
					<td th:text="${project.name}" />
					<td th:text="${project.stage}"/>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>