<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- replace the head tag with the template from the layouts.html -->
<head th:replace="layouts :: header"></head>

<body>

	<!-- replace the navbar template from the layouts.html -->
	<nav th:replace="layouts :: navbar"></nav>
	
	<br> 
	
	<div class="container">
	<!-- setting csrf directly with Thymeleaf in the th:action parameter by 
		 enclosing the endpoint in "@{endpoint}" -->
		<form th:action="@{/projects/save}" method="post" th:object="${project}">
			<div class="form-group row">
				<input type="text" placeholder="Project Name" th:field="${project.name}">
				<span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="${project.name}"></span>
			</div>
			<div class="form-group row">
				<select th:field="${project.stage}">
					<option th:value="NOTSTARTED"> Not Started</option>
					<option th:value="INPROGRESS"> In Progress</option>
					<option th:value="COMPLETED"> Completed</option>
				</select>
				<span style="color:red" th:if="${#fields.hasErrors('stage')}" th:errors="${project.stage}"></span>
			</div>
			<div class="form-group row">
				<textarea type="text" placeholder="Enter Project Description" th:field="${project.description}"></textarea>
				<span style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="${project.description}"></span>
			</div>
			<!-- *{employees} is the same as ${project.employees} -->
			<div class="form-group row">
				<select th:field="*{employees}" multiple="multiple">
					<option th:each="employee : ${employees}" 
							th:value="${employee.employeeId}" 
							th:text="${employee.firstName}">
					 </option>
				</select>
			</div>
			
			
			<div class="form-group row">
			Project Start Date:
				<input id="dp3" type="text" class="mb-4 col-2 col-xs-4" value="Start Date" th:field="${project.startDate}" />
			</div>
			
			
			<div class="form-group row">
			Project End Date:
				<input id="dp4" type="text" class="mb-4 col-2 col-xs-4" value="End Date" th:field="${project.endDate}" />
			</div>
			
			<script type="text/javascript">
				$('#dp3').datepicker();
				$('#dp4').datepicker();
			</script>
			
			<!-- hidden field ensures every request will have  a csrf token -->
			<!--
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
			-->	
			<div class="form-group row">
				<button type="submit" class="btn btn-info col-2">Enter Project</button>
			</div>
		</form>
	</div>
</body>
</html>