<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- replace the head tag with the template from the layouts.html -->
<head th:replace="layouts :: header"></head>

<body>

	<!-- replace the navbar template from the layouts.html -->
	<nav th:replace="layouts :: navbar"></nav>
	
	<div class="container">
		<form method="post" th:object="${employee}" action="/employees/save">
			<input type="text" th:field="${employee.firstName}" placeholder="First Name">
			<input type="text" th:field="${employee.lastName}" placeholder="Last Name">
			<input type="text" th:field="${employee.email}" placeholder="Email">
			
			<button type="submit">Create Employee</button>
		</form>
	</div>

</body>
</html>